@import "tailwindcss";

@layer base {
  :root {
    --font-source-serif: "Source Serif 4", serif;
    --font-source-sans: "Source Sans 3", sans-serif;
  }
}

body {
  font-family: "freight-display-pro", serif;
}

.font-serif {
  font-family: var(--font-source-serif);
}

.font-sans {
  font-family: var(--font-source-sans);
}

/* Background Video Styles */
.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 10px; */
  /* padding: 10px; */
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 0;
}
